In [1]:
from __future__ import print_function
import time
import cfbd
from cfbd.rest import ApiException
from pprint import pprint

In [5]:
api_instance = cfbd.TeamsApi()

#I think this api uses all 3 letter abbreviations for conferences. Need to replace list with those
#I'm still missing some, but this will probably get me to about what I need.
conference_list = ['ACC', 'B12', 'B1G', 'SEC', 'PAC', 'CUSA',
                  'MAC','MWC','FBSI', 'SBC', 'Ind'
                  'AAC','Western','MVIAA','RMC',
                  'SWC', 'SWAC']

conferences = []
schools = []

for conference in conference_list:
    try:
        # Get School & Conference information
        team_list = api_instance.get_teams(conference=conference)
        for team in team_list:
            conferences.append(team.conference)
            schools.append(team.school)
    except ApiException as e:
        print("Exception when calling TeamsApi->get_teams: %s\n" % e)

In [6]:
for school, conference in zip(schools, conferences):
    print(school, conference)

Boston College ACC
Clemson ACC
Duke ACC
Florida State ACC
Georgia Tech ACC
Louisville ACC
Miami ACC
NC State ACC
North Carolina ACC
Pittsburgh ACC
Syracuse ACC
Virginia ACC
Virginia Tech ACC
Wake Forest ACC
Baylor Big 12
Iowa State Big 12
Kansas Big 12
Kansas State Big 12
Oklahoma Big 12
Oklahoma State Big 12
TCU Big 12
Texas Big 12
Texas Tech Big 12
West Virginia Big 12
Illinois Big Ten
Indiana Big Ten
Iowa Big Ten
Maryland Big Ten
Michigan Big Ten
Michigan State Big Ten
Minnesota Big Ten
Nebraska Big Ten
Northwestern Big Ten
Ohio State Big Ten
Penn State Big Ten
Purdue Big Ten
Rutgers Big Ten
Wisconsin Big Ten
Alabama SEC
Arkansas SEC
Auburn SEC
Florida SEC
Georgia SEC
Kentucky SEC
LSU SEC
Mississippi State SEC
Missouri SEC
Ole Miss SEC
South Carolina SEC
Tennessee SEC
Texas A&M SEC
Vanderbilt SEC
Arizona Pac-12
Arizona State Pac-12
California Pac-12
Colorado Pac-12
Oregon Pac-12
Oregon State Pac-12
Stanford Pac-12
UCLA Pac-12
USC Pac-12
Utah Pac-12
Washington Pac-12
Washington State Pac-12
Charlotte Conference USA
Florida Atlantic Conference USA
Florida International Conference USA
Louisiana Tech Conference USA
Marshall Conference USA
Middle Tennessee Conference USA
North Texas Conference USA
Old Dominion Conference USA
Rice Conference USA
Southern Mississippi Conference USA
UAB Conference USA
UTEP Conference USA
UT San Antonio Conference USA
Western Kentucky Conference USA
Akron Mid-American
Ball State Mid-American
Bowling Green Mid-American
Buffalo Mid-American
Central Michigan Mid-American
Eastern Michigan Mid-American
Kent State Mid-American
Miami (OH) Mid-American
Northern Illinois Mid-American
Ohio Mid-American
Toledo Mid-American
Western Michigan Mid-American
Air Force Mountain West
Boise State Mountain West
Colorado State Mountain West
Fresno State Mountain West
Hawai'i Mountain West
Nevada Mountain West
New Mexico Mountain West
San Diego State Mountain West
San Jos√© State Mountain West
UNLV Mountain West
Utah State Mountain West
Wyoming Mountain West
Appalachian State Sun Belt
Arkansas State Sun Belt
Coastal Carolina Sun Belt
Georgia Southern Sun Belt
Georgia State Sun Belt
Louisiana Sun Belt
Louisiana Monroe Sun Belt
South Alabama Sun Belt
Texas State Sun Belt
Troy Sun Belt

In [30]:
#Throw lists into pandas dataframe and download into csv
import pandas as pd
data_dict = {'SCHOOL_NAME': schools, 'CONFERENCE_NAME': conferences}

df = pd.DataFrame(data_dict) 

df.head(10)

      SCHOOL_NAME CONFERENCE_NAME
0  Boston College             ACC
1         Clemson             ACC
2            Duke             ACC
3   Florida State             ACC
4    Georgia Tech             ACC
5      Louisville             ACC
6           Miami             ACC
7        NC State             ACC
8  North Carolina             ACC
9      Pittsburgh             ACC

In [31]:
df.to_csv('schools_with_conferences.csv')